footer{
    background-color: #000;
    border-top: 1px solid #78C2DD;
}
.footergrid{
    display: flex;
    width: 100%;
    max-width: 1400px;
    justify-content: space-between;
    color: #fff;
    margin: auto;
    padding: 50px 80px 30px 50px;
    font-family: 'Poppins';
}
a{
    color: inherit;
    text-decoration: none;
}
footer ul{
    list-style: none;
}
.footerabout img{
    max-width: 200px;
}
.footernav ul {
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.opentime ul li{
    font-family: 'Poppins';
    font-size: 12.676px;
    font-weight: 400;
    line-height: 190%; /* 24.085px */
}
.address{
    font-size: 14.789px;
    font-weight: 600;
    line-height: 140%;
}
.address ul{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 5px;
}
.address ul li a{
    display: flex;
    align-items: center;
    gap: 5px;
}
.address li svg{
    fill: #fff;
}
.footer-credits{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 0;
    align-items: center;
    text-align: center;    
    border-top: 1px solid #78C2DD;
}
.footer-credits ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.footer-credits ul li a{
    color: #fff;
}
.footer-credits p, .footer-credits ul li{
    color: #fff;
    font-size: 14.4px;
    font-weight: 300;
    line-height: 150%;
}
footer a:hover, footer a:hover svg{
    color: #78C2DD;
    fill: #78C2DD;
}
@media screen and (max-width:890px) {
    .footergrid{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 50px 50px 0 50px;
    }
    .footerabout img{
        object-fit: cover;
        width: 197px;
        height: 197px;
    }
    .footerabout ul, .footerabout li {
        align-items: center;
    }
    .footergrid div{
        padding: 20px 0;
        width: 200px;
    }
    .address ul li{
        margin: auto;
    }
    .rights{
        flex-direction: column;
        padding: 30px 0 0 !important;
        height: 120px !important;
    }
    .rights ul{
        flex-direction: column;
        gap: 0px !important;
    }
/*  .footer-credits{
        flex-direction: column;
        padding: 30px 0 0 !important;
        height: 120px !important;
    }
    .footer-credits ul{
        flex-direction: column;
        gap: 0px !important;
    } */
}